<!DOCTYPE html>
<html>

<head>
    <title>PracticeDesign</title>
    <link rel="stylesheet" href="css/style.css ">
</head>

<body>
    <!-- header start -->
    <header>
        <section class="header-inner">
            <h1>simple <a href="">style_blue_trees</a></h1>
            <p>Simple. Contemporary. Website Template.</p>
        </section>
    </header>
    <!-- header end -->
    <!-- nav start -->
    <nav>
        <section class="nav-inner">
            <ul>
                <li><a href=""> Home</a></li>
                <li><a href=""> Examples</a></li>
                <li><a href=""> Local </a></li>
                <li><a href=""> About us</a></li>
            </ul>
        </section>
    </nav>
    <!-- nav end -->
    <section class="site-content">
        <!-- banner start -->
        <section class="banner">
            <div class="banner-inner">
                <img src="banner.avif" alt="banner will be loaded" title="banner">
            </div>
        </section>
        <!-- banner end -->
        <!-- sidebar_container start -->

        <main>
            <section class="main-inner">
                <aside>
                    <div class="latest-news">
                        <h2>Latest News<h2>
                                <h3>NEW WEBSITE LAUNCHED</h3>
                                <small>February 1st, 2014</small>
                                <p>2014 sees the redesign of our
                                    website. Take a look around and let
                                    us know what you think.</p>
                                <a href="">Read more</a>
                    </div>
                    <div class="useful-link">
                        <h2>Latest News<h2>
                                <ul>
                                    <li>
                                        <a href="">Link 1</a>
                                    </li>
                                    <li>
                                        <a href="">Link 2</a>
                                    </li>
                                    <li>
                                        <a href="">Link 3</a>
                                    </li>
                                    <li>
                                        <a href="">Link 4</a>
                                    </li>
                                </ul>
                    </div>
                    <div class="search-box">
                        <h2>Search<h2>
                                <form method="get" action="">
                                    <ul>
                                        <li>
                                            <input type="search" name="search_value" id="search_value" placeholder="Enter
                                                                        Keywords.." />
                                        </li>
                                        <li>
                                            <button type="submit">
                                                <i class="fa-solid
                                                                            fa-magnifying-glass"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                    </div>
                </aside>
            <!-- sidebar_container  end -->
            <!-- content start -->
            <article>
                <section class="content"> Main <b>Main</b>
                    Welcome to the
                    simplestyle_blue_trees template
                    This standards compliant,
                    simple, fixed width website
                    template is released as an 'open
                    source' design (under a Creative
                    Commons Attribution 3.0
                    Licence), which means that you
                    are free to download and use it
                    for anything you want (including
                    modifying and amending it). All
                    I ask is that you leave the
                    'design from
                    HTML5webtemplates.co.uk' link in
                    the footer of the template, but
                    other than that...

                    This template is written
                    entirely in HTML5 and CSS, and
                    can be validated using the links
                    in the footer.

                    You can view more free HTML5 web
                    templates here.

                    This template is a fully
                    functional 5 page website, with
                    an examples page that gives
                    examples of all the styles
                    available with this design.
                </section>
            </article>

            <!-- content end -->
            </section>
        </main>



    <!-- footer start -->
    <footer class="footer-inner"> Footer </footer>
    <!-- footer end -->



</body>

</html>