footer{
    background: #061f24;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.footer_contact{
    padding: 48px 0px;
    text-align: center;

}
.footer_logo {
    display: block;
    text-align: center;
    color: var(--white-color);
}
.footer_logo a{ 
	color:var(--white-color);
	font-style: normal;
	font-Weight:600;
	font-Size: 32px;
	line-height:38px;
	padding: 5px;
}

.footer_contact ul{
    display: inline-block;
    /* margin-inline: auto; */
    box-sizing: border-box;
}
.footer_contact ul li{
    display: inline-block;
}
.footer_contact ul li a{
    padding: 4px;
    color:var(--white-color);
	font-style: normal;
	font-Weight:400;
	font-Size: 18px;
	line-height:28px;

}

.copyright{
    align-items: center;
}

.social-link{
    display: inline-block;
    margin-left: 50px;
}

.copyright .content p{
    color: #aaa;
	font-style: normal;
	font-Weight:400;
	font-Size: 16px;
	line-height:28px;
    width: 70%;
}
.social-link li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    width: 32px;
    box-sizing: border-box;
    color: #ffffff;
}

.social-link ul li{
    /* color: #ffffff; */
    padding: 2px;
    /* font-size: 13px;
    line-height: 42px;
    background: #061f24;
    color: #aaa; */
}

.brands_client{
    padding: 48px 0px;
    background: #397f6a;
}
.brands_client img{
    flex-wrap: wrap;
    width: 25%;
   

    /* max-width: 100%;
    max-height: 50%; */

}
.brands_client marquee{
    margin-inline: 32px;
    padding: 8px 15px;
}